:root {
    --primary: #550213;
    --secondary: #F3FFB6;
    --background: #8d9c98;
    --main--text: #0E1116;
    --border--color: lightcoral;
}

/* Universal selector */
* {
    margin:0;
    padding:0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Element selectors */
body {
    background-color: var(--background);
    font-size: 15px;
}

header { 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 115px;
    width: 100%;
    line-height: 43px;
    padding: 1%;
    background-color: var(--primary);
    color: var(--main--text);
    border-bottom: 20px solid var(--secondary);
    margin-bottom: 20px;
}

h1 {
    display: inline;
    text-align: left;
    font-size: 250%;
    padding: 10px;
    border: 5px solid var(--border--color);
    width: 500px;
    height: 70px;
    background-color: var(--border--color);
}

h2 {
    margin: 25px 25px 25px 0px;
    font-size: 225%; 
    line-height: 135%;
    flex: 0 0 25%;
    flex-wrap: wrap;
    text-align: right;
}

/*use the display flex to get the child tags to fit onto the same line*/
section {
    display: flex;
    width: 100%
}

/*provide a border line in between the headers and the other child html tags*/
h2 + * {
    border-left: 5px solid var(--main--text);
    padding: 1%;
    margin: 1.5%;
}

/*provide css changes to the navigaion in the header*/

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    font-weight: bold;
}

/*seperate the links by a small margin in the nav*/
nav li {
    margin: 7px;
}

/*css for the links in the navigation*/
nav a {
    font-size: 125%;
    color: var(--background);
}

/* ID Selectors with child Element Selectors*/ 

#contact-me ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 0;
}

#contact-me li {
    flex: 1 1 33%;
    text-align: center;
    flex-wrap: wrap;
}

#contact-me a {
    color: var(--main--text);
    font-size: 140%;    
    font-weight: bold;
}

/* Class Selectors */

.float-right {
    float: right;
}

.intro {
    padding-bottom: 35px;
}

.bio p {
    line-height: 150%;
    color: var(--main--text)
}

/*style changing to the profile image below the header*/
.profile-image {
    height: 500px;
    width: 700px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}
/*add styling for 1080px screen lengths for the image*/