:root {
    --primary: #550213;
    --secondary: #F3FFB6;
    --background: #8d9c98;
    --main--text: #0E1116;
    --border--color: lightcoral;
    --image--hue: #f8cccc;
    --first--application--overlay--height: 462px;
    --first--application--height: 450px;
    --remaining--application--overlay--height: 212px;
    --remaining--application--height: 200px;
    --small--first--overlay--height: 382px;
    --small--first--height: 370px;
    --small--remaining--overlay--height: 177px;
    --small--remaining--height: 165px;
    --smallest--overlay--height: 152px;
    --smallest--height: 140px;
}

/* Universal selector */
* {
    margin:0;
    padding:0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Element selectors */
body {
    background-color: var(--background);
    font-size: 15px;
}

header { 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 115px;
    width: 100%;
    line-height: 43px;
    padding: 1%;
    background-color: var(--primary);
    color: var(--main--text);
    border-bottom: 20px solid var(--secondary);
    margin-bottom: 20px;
}

h1 {
    display: inline;
    text-align: left;
    font-size: 250%;
    padding: 10px;
    border: 5px solid var(--border--color);
    width: 500px;
    height: 70px;
    background-color: var(--border--color);
}

h2 {
    margin: 25px 25px 25px 0px;
    font-size: 225%; 
    line-height: 135%;
    flex: 0 0 25%;
    flex-wrap: wrap;
    text-align: right;
    padding-top: 6px;
}

h3 {
    font-size: 170%;
    padding-bottom: 5px;
}

/*use the display flex to get the child tags to fit onto the same line*/
section {
    display: flex;
    width: 100%
}

/*provide a border line in between the headers and the other child html tags*/
h2 + * {
    border-left: 5px solid var(--main--text);
    padding: 1%;
    margin: 1.5%;
}

/*provide css changes to the navigaion in the header*/

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 300px;
    font-weight: bold;
}

/*seperate the links by a small margin in the nav*/
nav li {
    margin: 7px;
}

/*css for the links in the navigation*/
nav a {
    font-size: 125%;
    color: var(--background);
}

/*provide css changes for the the text inside the works section*/

.first-application  .link-text {
    width: 25%;
    background-color: var(--border--color);
    border: 10px solid var(--border--color);
}

.remaining-applications .link-text {
    width: 38%;
    background-color: var(--border--color);
    border: 10px solid var(--border--color);
}

.remaining-applications a {
    padding: 8px;
}

/* ID Selectors with child Element Selectors*/ 

/*Went to https://stackoverflow.com/questions/42341479/add-hue-to-a-regular-image-with-css to 
find info on how to apply a hue over an image.  Also credited in the README file.*/
/*user7592255, et al. “Add Hue to a Regular Image with CSS.” Stack Overflow, 28 Feb. 2017, 
    stackoverflow.com/questions/42341479/add-hue-to-a-regular-image-with-css.*/
#work img {
    mix-blend-mode: overlay;
}

#contact-me ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 0;
}

#contact-me li {
    flex: 1 1 33%;
    text-align: center;
    flex-wrap: wrap;
}

#contact-me a {
    color: var(--main--text);
    font-size: 140%;    
    font-weight: bold;
}

/*ID Selectors with child Class Selectors*/

#work .remaining-applications {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Class Selectors */

.float-right {
    float: right;
}

.full-width {
    width: 100%;
}

/*Styling for the first parapraph to provide spacing between the paragraphs in the about me section*/
.intro {
    padding-bottom: 35px;
}

/*styling for the paragraphs in the about me section*/
.bio p {
    line-height: 150%;
    color: var(--main--text)
}

/*styling specifically for the first work that is displayed on the web page.*/
.first-application {
    position: relative;
    width: 100%;
    height: var(--first--application--height);
    padding: 8px;
}

/*styling for the other links in the work section.*/
.remaining-applications {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 28px;
}

/*apply hue to images in the work section*/
.background-hue {
    background-color: var(--image--hue);
    border: 6px solid var(--border--color);
}

.first-application .background-hue {
    height: var(--first--application--overlay--height);
}

.remaining-applications .background-hue {
    height: var(--remaining--application--overlay--height);
}

/*remove hue on hover.*/
.first-application:hover .background-hue {
    background-color: transparent;
}

.remaining-applications a:hover .background-hue {
    background-color: transparent;
}

/*reposition the link text over the image.*/

.absolute-section {
    position: relative;
}

.absolute-section .link-text, .first-application .link-text {
    position: absolute;
    bottom: 26px;
    left: 14px;
  }

/*set the size for first application*/
.first-application img {
    width: 100%;
    height: var(--first--application--height);
}

/*set the size for the remaining applications*/
.remaining-applications img {
    width: 100%;
    height: var(--remaining--application--height);
}

.remaining-applications a {
    flex: 0 0 50%;
}

.remaining-applications .all-work {
    text-align: center; 
    width: 100%;
    padding-top: 8px;
    font-weight: bold;
    font-size: 110%
}

.remaining-applications .all-work a {
    color: var(--main--text);
}

/*style changing to the profile image below the header*/
.profile-image {
    height: 500px;
    width: 700px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

/*add styling for 1080px screen lengths for the images*/
@media screen and (max-width: 1080px) {
    .profile-image {
        height: 400px;
        width: 570px;
    }

    .first-application {
        height: var(--small--first--height);
    }

    .first-application img {
        height: var(--small--first--height);
    }

    .remaining-applications img {
        width: 100%;
        height: var(--small--remaining--height);
    }

    .first-application .background-hue {
        height: var(--small--first--overlay--height);
    }
    
    .remaining-applications .background-hue {
        height: var(--small--remaining--overlay--height);
    }

    /*Have the non first (remaining) works be put into a single column*/
    .remaining-applications a {
        flex: 0 0 100%;
    }

    .first-application  .link-text {
        width: 32%;
    }

    .remaining-applications .link-text {
        width: 28%;
    }
  }

  /*adjust the header to flow better at 1040px or smaller screens.*/
  @media screen and (max-width: 1040px) {
    h1 {
        width: auto;
        height: auto;
    }

    header {
        height: auto;
        border-bottom: transparent;
    }
  }

  /*adjust the nav links at 730px or smaller screens.*/
  @media screen and (max-width: 730px) {
    nav li {
        flex: 0 0 45%;
    }
  }

  /*add styling for 700px screen lengths for the images and font size for better
  redability*/
  @media screen and (max-width: 700px) {
    body {
        font-size: 14px;
    }

    .profile-image {
        height: 325px;
        width: 425px;
    }

    .first-application {
        height: var(--smallest--height);
    }

    .first-application img {
        height: var(--smallest--height);
    }

    .remaining-applications img {
        width: 100%;
        height: var(--smallest--height);
    }

    .first-application .background-hue, .remaining-applications .background-hue {
        height: var(--smallest--overlay--height);
    }

    /*readjust link text over images*/
    .first-application .link-text {
        bottom: 1px;
    }

    .absolute-section .link-text{
        bottom: 20px;
    }

    .remaining-applications .link-text, .first-application  .link-text {
        width: 29%;
    }

    /*readjust contact me links to flow better.*/
    #contact-me li {
        flex: 1 1 100%;
    }
  }

  @media screen and (max-width: 475px) {
    body {
        font-size: 12px;
    }
}